<div class="background-colors auth-wrapper d-flex no-block justify-content-center align-items-center">
        <div class="card auth-box shadow-container">
            <div class="shadow-container brand rounded-circle">
              </div>
          <div style="align-self: center">
            <h1>Iniciar Sesion</h1>
          </div>
          &nbsp;
          <div class="">
          <input type="text" class="form-control input-spacing" placeholder="Correo " aria-label="Username" aria-describedby="basic-addon1">
          <small id="correo" *ngIf="!correo.valid" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <input type="text" class="form-control input-spacing" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
          <small id="contrasena" *ngIf="!contrasena.valid" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <hr>
          <button class="btn btn-primary button-radius" (click)="createAccount()">
          <!-- <icon *ngIf="!userForm.valid">lock</icon>
            <icon *ngIf="userForm.valid">lock_open</icon>-->
            Ingresar
          </button>
          &nbsp;
          &nbsp;
          <div class="col-sm-12 text-left " style="align-self: center; font-size:0.8em; margin-top: 8px">
                <a [routerLink]="['/registrarse']" class="link m-l-5 "><b>Olvidé mi contraseña.</b></a>
            </div>
        <div class="col-sm-12 text-left " style="align-self: center; font-size:0.8em">
            ¿No tengo una cuenta? <a [routerLink]="['/registrarse']" class="link m-l-5 "><b>Crear Cuenta.</b></a>
        </div>
      </div>
      </div>