<!-- TODO: Make this responsive-->
<div class="bgimage-block"> <!--First content block-->
    <div class="text-box">
      <p style="font-weight: bold; font-size:0.8em; text-align:left">Encuentra tu desarrollador ideal facilmente</p>
      <p style="font-size:0.4em; text-align:justify">Macao.dev es un proyecto de comunidad para ayudarte a encontrar tu programador ideal en Honduras.</p>
      <button type="button" class="btn btn-outline-light btn-lg float-right button-border">Empezar ahora</button>
    </div>
    <div class="text-box-secondary">
      <p style="font-weight: bold; font-size:0.8em; text-align:left">Encuentra trabajo desarrollando</p>
      <p style="font-size:0.4em; text-align:justify">Unete a Macao.dev y conecta facilmente con empresas o equipos buscando gente con tu talento.</p>
      <button type="button" class="btn btn-outline-primary btn-lg float-right button-border">Empezar ahora</button>
    </div>
  </div>
  <div class="text-block offset-2 col-8">
      <div class="row">
    <p style="font-size:3em; color:rgb(100,196,237); text-align:center; padding:20px">Una plataforma para conectar desarrolladores y empresas facilmente</p>
    <div class="card" style="width:30%; margin-right:5%">
      <div class="card-body">
          <div class="card-title" style="text-align: center; font-size:1.8em">
              Encuentra desarrolladores.
            </div>
        <i class="material-icons offset-3 col-6" style="font-size: 80px">work</i>
      <div class="card-text" style="text-align: center">
        Encuentra facilmente desarolladores de software en Honduras segun sus habilidades, habilidades certificadas y su tiempo de experiencia en su campo.
      </div>
    </div>
  </div>
  <div class="card" style="width:30%; margin-right:5%">
      <div class="card-body">
          <div class="card-title" style="text-align: center; font-size:1.8em">
              Encuentra desarrolladores.
            </div>
        <i class="material-icons offset-3 col-6" style="font-size: 80px">work</i>
      <div class="card-text" style="text-align: center">
        Encuentra facilmente desarolladores de software en Honduras segun sus habilidades, habilidades certificadas y su tiempo de experiencia en su campo.
      </div>
    </div>
  </div>
  <div class="card" style="width:30%">
      <div class="card-body">
          <div class="card-title" style="text-align: center; font-size:1.8em">
              Encuentra desarrolladores.
            </div>
        <i class="material-icons offset-3 col-6" style="font-size: 80px">work</i>
      <div class="card-text" style="text-align: center">
        Encuentra facilmente desarolladores de software en Honduras segun sus habilidades, habilidades certificadas y su tiempo de experiencia en su campo.
      </div>
    </div>
  </div>
  </div>
  </div>
