<div class="background-colors auth-wrapper d-flex no-block justify-content-center align-items-center">
    <div class="shadow-container card auth-box">
        <div class="shadow-container brand rounded-circle">
        </div>
        <div style="align-self: center">
            <h1>Crear Cuenta</h1>
        </div>
        &nbsp;
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Nombre Usuario" aria-label="Contraseña"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Correo" aria-label="Contraseña"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                    aria-describedby="basic-addon1">
            </div>
              <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Seleccione</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option value="1">Soy un Desarollador</option>
    <option value="2">Busco un Desarollador</option>
  </select>
</div>


    
        <hr>
        <button class="btn btn-primary button-radius" (click)="createAccount()">
            <!-- <icon *ngIf="!userForm.valid">lock</icon>
            <icon *ngIf="userForm.valid">lock_open</icon>-->
            Crear cuenta
        </button>
        &nbsp;
        <!--      <h4 style="align-self: center">Or Sign Up Using</h4>
               <div style="align-self: center">
                  <button fab class="facebook">
                    <icon><i class="fab fa-facebook-f "></i></icon>
                  </button>
                  &nbsp;
                  &nbsp;
                  <button fab class="google">
                    <icon><i class="fab fa-google "></i></icon>
                  </button>
                </div>
                -->
        &nbsp;
        <div class="col-sm-12 text-left " style="align-self: center; font-size:0.8em">
            ¿Ya tienes una cuenta? <a [routerLink]="['/ingresar']" class="link m-l-5 "><b>Ingresar</b></a>
        </div>
    </div>
</div>